<% form_for @invitation do |f| %>
  <p>
    <%= f.label :recipient_email, "Email:" %><br />
    <%= f.text_field :recipient_email %>
    <%= f.hidden_field :token %>
  </p>
  <p><%= f.submit "Invite!" %></p>
<% end %>