<% form_for @invitation do |f| %>
  <p>
    <%= f.label :recipient_email, "Friend's email address" %><br />
    <%= f.text_field :recipient_email %>
    <%= f.hidden_field :invitation_token %>
  </p>
  <p><%= f.submit "Invite!" %></p>
<% end %>